extends navi_layout

block content 
  .p-4.p-md-5.m-4.rounded.text-bg-info(style="background-color: var(--bs-gray-900);color: #fff!important;")
    .col-md-6.px-0
      h1.display-4.fst-italic Welcome to Forman Stock!!! 
      p.lead.my-3= welcome_comment
      p.lead.mb-0  
        a.text-white.fw-bold(href="#") Continue reading...            
    