extends navi_layout

block content 
  style.
    .carousel-inner{
      width: auto;
      height: 490px;
      background-color: transparent;
    }
    .carousel-item{
      max-width: 100%;
      height: auto;
    }
    .carousel-caption{
      color: white;
      bottom: 50%;
      transition: all ease 1s;
    }
    .carousel-caption:hover{
      transform: scale(1.2);
    }
  #carouselExampleControls.carousel.slide(data-bs-ride="carousel")
    .carousel-inner 
      .carousel-item.active 
        img.d-block.w-100(src="assets/img/stock_1920.jpg" alt="" width='100%')
        .carousel-caption.d-none.d-md-block 
          h3 모의 주식 거래 기능
          p 다양한 KOSPI 종목을 만나보세요!! 
      .carousel-item 
        img.d-block.w-100(src="assets/img/community_1920.jpg" alt="")
        .carousel-caption.d-none.d-md-block 
          h3 커뮤니티를 만나보세요
          p 종목별로 사람들을 만나 토론해보세요!!
    button.carousel-control-prev(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.visually-hidden Previous
    button.carousel-control-next(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.visually-hidden Next

  .p-4.p-md-5.m-4.rounded(style="background-color: var(--bs-gray-900);color: #fff!important;")
    .col-md-6.px-0
      .display-4.fst-italic Welcome to Forman Stock!!! 
      p.lead.my-3= welcome_comment
      p.lead.mb-0  
        a.text-white.fw-bold(href="#") Continue reading...            
  
  .p-4.p-md-5.m-4.rouded(style="background-color: var(--bs-light);")
    .col-md-6.px-0 
      h1.display-4.fst-italic 디자인 수정중.. (차트 들어갈듯)

  .toast-container.position-fixed.bottom-0.end-0.p-3
    // 기본적으로 toast를 show 상태로 설정
    .toast.show(role="alert" aria-live="assertive" aria-atomic="true")
      .toast-header
        img.rounded.me-2(src="assets/img/4_24.png" alt="...")
        strong.me-auto FormanStock
        small from master 
        button.btn-close(type="button" data-bs-dismiss="toast" aria-label="Close")
      .toast-body.
        환영합니다! 모의 주식 매매 기능을 이용해보세요!!
          