doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title FormanStock
    link(href='css/styles.css', rel='stylesheet')
    link(rel="shortcut icon" href="/assets/img/4.png")

    script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')
#layoutAuthentication
    #layoutAuthentication_content
        main
        .container
            .row.justify-content-center
                .col-lg-5
                    .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                    h3.text-center.font-weight-light.my-4 로그인
                    .card-body
                        form(action='/login-page' method='post')
                            .form-floating.mb-3
                                input#inputEmail.form-control(type='id',name='email', placeholder='name@example.com')
                                label(for='email') 이메일 주소
                            .form-floating.mb-3
                                input#inputPassword.form-control(type='password', name='password', placeholder='Password')
                                label(for='password') 비밀번호
                            .form-check.mb-3
                                input#inputRememberPassword.form-check-input(type='checkbox', value='')
                                label.form-check-label(for='inputRememberPassword') 비밀번호 기억하기
                            .d-flex.align-items-center.justify-content-between.mt-4.mb-0
                                a.small(href='password.html') 비밀번호를 잃어버리셨나요?
                                button.btn.btn-primary(type='submit', href='/') 로그인
                    .card-footer.text-center.py-3
                        .small
                        a(href='/signup-page') 회원 가입
    #layoutAuthentication_footer
        footer.py-4.bg-light.mt-auto
            .container-fluid.px-4
                .d-flex.align-items-center.justify-content-between.small
                    .text-muted Copyright &copy; Your Website 2022
                    div
                        a(href='#') Privacy Policy
                        |                 &middot;
                        a(href='#') Terms &amp; Conditions
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
script(src='js/scripts.js')
