extends ../navi_layout

block content 
  // 템플릿 틀 디자인 완료
  .whole-box.m-4.d-flex.flex-fill.flex-row
    .left-box.flex-fill.m-2.p-2.border.border-secondary
      div hello i'm left
    .right-box.d-flex.flex-column.flex-fill.m-2.border.border-secondary
      .upper-box.flex-fill.p-2.border.border-secondary dd
      .lower-box.d-flex.border.border-secondary 
        .left-box.flex-fill.p-2.border.border-secondary d
        .right-box.flex-fill.d-flex.flex-column.p-2.border.border-secondary
          button.btn.btn-primary.m-1 up
          button.btn.btn-primary.m-1 down
