doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        title Register - SB Admin
        link(href="/css/styles.css" rel="stylesheet")
        script(src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous")    
    body.primary
        div#layoutAuthentication
            div#layoutAuthentication_content
                main
                    .container
                        .row.justify-content-center
                            .col-lg-7
                                .card.shadow-lg.border-0.rounded-lg.mt-5
                                    .card-header
                                    h3.text-center.font-weight-light.my-4 게시글 작성
                                    .card-body
                                        form(action=`/formanstock/board/${rows}/write-form` method = "post")
                                            .form-floating.mb-3                                                                                                  
                                                input(class="form-control" name = "POST_TITLE" type="text")
                                                label(for="POST_TITLE") 제목
                                            //-     .col-md-6
                                            //-         .form-floating.mb-3.mb-md-0                                                                                                               
                                            //-             input.form-control#company_name(name = "company_name" type="text")
                                            //-             label(for="company_name") 회사 명                                                    
                                            //- .row.mb-3
                                            //-     .col-md-6
                                            //-         .form-floating.mb-3.mb-md-0
                                            //-             input.form-control#total_stock_num(name="total_stock_num" type="text")
                                            //-             label(for="total_stock_num") 총 주식량                                                                                         
                                            .form-floating.mb-3
                                                textarea.form-control#POST_CONTENT(name="POST_CONTENT" style="height: 200px;" )
                                                label(for="POST_CONTENT") 내용                                                                                 
                                            .mt-4.mb-0
                                                .grid
                                                button.btn.btn-primary.btn-block(type="submit") 작성  
                                        //- button.btn.btn-warning.btn-block(href=`/formanstock/board/${stock_code}`) 취소                
 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
        script(src="/js/scripts.js")
